<h1>Check-in</h1>

<h3>It takes 3 months to form a habit! Log your tiny step to track your progress</h3>


<div class="col-md-6">
    <div class="feature-item">
        <div class="icon">
            <img src="assets/images/feature-01.png" alt="">
        </div>
        {{#each tasks}}
        <li>
            <h4>Name: {{this.name}}</h4>
            <h4>Description: {{this.description}}</h4>
            <h4>Frequency: {{this.frequency}}</h4>
            <p>Obvious: {{this.obvious_step}}</p>
            <p>Attractive: {{this.attractive_step}}</p>
            <p>Easy: {{this.easy_step}}</p>
            <p>Satisfying: {{this.satisfaction_step}}</p>
        </li>
        {{/each}}
        </ul>
    </div>
</div>

<div class="col-md-6">
    <h2>Check-in, how did you do?</h2>
    <button type="submit" id:"checkin">Tiny step complete!</button>
    </form>
</div>