<div class="container focus">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4>Select your tiny step</h4>
            <h6>to begin the journey to a healthy habit</h6>
        </div>
        <div class="row">
            <div class="habitOption">
                {{#each habits}}
                <button class="habit whiteButton" data-id="{{this.id}}">
                    <b>Type:</b> {{this.type}} <br>
                    <b>Activity:</b> {{this.activity}} <br>
                    <b>Description:</b> {{this.description}} <br>
                    <b>Frequency:</b> {{this.frequency}}
                </button>

                {{else}}
                <h1>There are no habits available</h1>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{> create-habit}}

<script src="/js/habits.js"></script>